a:hover {
  color: white;
}
a {
  color: #ffd18d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  size: 12px;
  line-height: 14.06px;
 
}

.element-box-one {
  position: absolute;
  left: 0px;
  width: 1200px;
  height: 90px;
  background-color: #040404;
  
}

nav {
    display: flex;
  flex-direction: row;
  justify-content: center;
  
}

ul {
  list-style: none;
}
