main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #040404;
}

#element-mobile,
#element-Menu-Mobile {
  display: none;
}

#desktop-listmenu {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;
}

#desktop-lismenu li {
  padding: 0px 10px;
}

#desktop-lismenu li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffd18d;
}

#element-one-menu {
  padding: 1%;
  padding-left: 3%;
}

#element-two-banner {
  display: flex;
  padding: 0px 62.5px;
  justify-content: space-around;
  align-items: center;
  background-color: #040404;
}

#element-two-banner img {
  align-self: flex-end;
  padding: 0px 32.5px;
}

#element-two-banner div {
  padding: 0px 32, 5px;
}

#element-tree-gallery {
  padding: 2% 4%;
  background-color: #e6bc7e;
}

#element-tree-gallery div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

#element-tree-gallery div img {
  margin: 40px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  color: #e6bc7e;
  line-height: 54px;
  border: 1px solid #000000;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #bf9d69;
  border: 1px solid #040404;
}

#element-for-sectionform {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #403423;
  min-height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 36px 40%;
  padding: 40px 25px 22px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 330px;
  min-height: 427px;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

form div label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  padding-bottom: 7px;

  color: #403423;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  color: #000;
  padding: 8px 17px;
}

input:focus,
textarea:focus {
  border: 1px solid #bf9d69;
}

input {
  height: 30px;
}

textarea {
  height: 80px;
  display: inline-table;
}

#btn-submit:hover {
  background: #403423;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6bc7e;
  min-height: 80px;
}

footer p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #403423;
  border: none;
}

@media (max-width: 360px) {
  #element-two-banner {
    padding: 0px;
  }
  #element-tree-gallery div {
    padding: 80px 20px 60px 20px;
  }
  #element-two-banner img {
    display: none;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding: 0;
    line-height: 42px;
  }
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: #bf9d69;

    border: 1px solid #040404;
  }
  header {
    max-height: 75px;
    padding: 10px 30px;
    justify-content: space-between;
  }
  header img {
    width: 53px;
    height: 63px;
  }
  #element-tree-gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #bf9d69;
  }
  #element-tree-gallery div {
    flex-wrap: wrap-reverse;
  }
  #desktop-listmenu {
    display: none;
  }
  #element-mobile {
    display: none;
  }
  #element-Menu-Mobile {
    display: none;
  }
  #element-Menu-Mobile a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffd18d;
  }
  #element-Menu-Mobile ul {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 32.5px;
    z-index: 100;
  }
  #element-Menu-Mobile li {
    padding: 32.5;
  }
  #element-Menu-Mobile.active {
    display: flex;
    width: 100%;
  }
  #element-one-menu {
    padding: 5px 0px;
  }
  form {
  margin:34px 15px 38px 15px;
  }
  .response-form{
    
  }
}
